<!--The content below is only a placeholder and can be replaced.-->
<header>
 <div class="container">
   <a href="#" class="logo">Cool App SUP BRUHH </a>
   <nav>
     <ul>
       <li>
         <a href="#" [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a>
       </li>
       <li>
          <a href="#" [routerLink]="['/list']" routerLinkActive="router-link-active"  >List Chck</a>
       </li>
     </ul>
   </nav>

</div>
</header>
<div class="container">
    <router-outlet></router-outlet>
</div>
